:root {
  ---burnt-orange: #d87d4a;
  ---charcoal: #101010;
  ---off-white: #f1f1f1;
  ---snow-white: #fafafa;
  ---peach: #fbaf85;
  ---pure-white: #ffffff;
  ---pure-black: #000000;
  ---light-black: rgb(19, 19, 19);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
}

.spinner-wrapper {
  position: absolute;
  width: 100%;
  background-color: var(---peach);
  display: flex;
  align-items: center;
  justify-content: center;
}

#circleDiv {
  background-color: var(---burnt-orange);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  top: -9px;
  right: -10px;
  font-size: 0.81rem;
  letter-spacing: 1px;
  line-height: 1.56rem;
  font-weight: bold;
  text-transform: uppercase;
}

main {
  display: flex;
  flex-direction: column;
}
main .go-back-link {
  text-transform: capitalize;
  color: var(---charcoal);
  text-decoration: none;
  font-size: 0.93rem;
  letter-spacing: 1px;
  line-height: 1.56rem;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 50%;
}
main .product-description-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .product-description-wrapper .prd-first-section-wrapper {
  display: flex;
  gap: 10%;
  padding-bottom: 8%;
}
main .product-description-wrapper .prd-image {
  width: 540px;
  height: 560px;
  border-radius: 8px;
}
main .product-description-wrapper .prd-image img {
  width: 100%;
  border-radius: 8px;
}
main .product-description-wrapper .prd-description {
  width: 445px;
}
main .product-description-wrapper .prd-description #prd-status {
  font-size: 0.93rem;
  letter-spacing: 1px;
  line-height: 1.56rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(---burnt-orange);
}
main .product-description-wrapper .prd-description #prd-title {
  font-size: 2.5rem;
  letter-spacing: 1.5px;
  line-height: 2.75rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 22px;
}
main .product-description-wrapper .prd-description #prd-description {
  font-size: 0.93rem;
  letter-spacing: 1px;
  line-height: 1.56rem;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 22px;
  opacity: 70%;
}
main .product-description-wrapper .prd-description #prd-price {
  font-size: 1.12rem;
  letter-spacing: 1.3px;
  line-height: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
main .product-description-wrapper .prd-description .cart-btns {
  display: flex;
  gap: 16px;
  padding-top: 37px;
}
main .product-description-wrapper .prd-description .cart-btns #incrementing-btn {
  display: flex;
  width: 120px;
  height: 48px;
  justify-content: space-between;
  align-items: center;
  background-color: var(---off-white);
  padding-inline: 8px;
}
main .product-description-wrapper .prd-description .cart-btns #incrementing-btn button {
  outline: none;
  border: none;
  background-color: transparent;
}
main .product-description-wrapper .prd-description .cart-btns #incrementing-btn #totalQuantity {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 13px;
  height: 100%;
}
main .product-description-wrapper .prd-description .cart-btns #add-cart #add-cart-btn {
  height: 42px;
  width: 160px;
  height: 48px;
  font-size: 0.81rem;
  letter-spacing: 1px;
  line-height: 1.56rem;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
  border: none;
  color: var(---pure-white);
  background-color: var(---burnt-orange);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .product-description-wrapper .prd-description .cart-btns #add-cart #add-cart-btn:hover {
  background-color: var(---peach);
}
main .product-description-wrapper .prd-features-wrapper {
  display: flex;
  flex-direction: column;
  gap: 14%;
  justify-content: space-between;
}
main .product-description-wrapper .prd-features-wrapper h3 {
  font-size: 1.75rem;
  letter-spacing: 2px;
  line-height: 2.37rem;
  font-weight: bold;
  text-transform: uppercase;
}
main .product-description-wrapper .prd-features-wrapper .prd-features-content {
  display: flex;
}
main .product-description-wrapper .prd-features-wrapper .prd-features-content .features-para {
  width: 635px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 0.93rem;
  letter-spacing: 1px;
  line-height: 1.56rem;
  font-weight: 400;
  text-transform: uppercase;
}
main .product-description-wrapper .prd-features-wrapper .prd-features-content .prd-in-the-box ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .product-description-wrapper .prd-features-wrapper .prd-features-content .prd-in-the-box ul li {
  list-style-type: none;
  text-transform: capitalize;
}
main .product-description-wrapper .prd-features-wrapper .prd-features-content .prd-in-the-box ul li span {
  color: var(---burnt-orange);
  padding-right: 8px;
}

.show-case-section-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 160px;
  align-items: center;
}
.show-case-section-wrapper .prd-show-case-image-wrapper {
  width: 93%;
  display: flex;
  gap: 9%;
  justify-content: center;
}
.show-case-section-wrapper .prd-show-case-image-wrapper .flex-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6%;
}
.show-case-section-wrapper .prd-show-case-image-wrapper .show-case-one {
  width: 445px;
  height: 280px;
  border-radius: 8px;
}
.show-case-section-wrapper .prd-show-case-image-wrapper .show-case-one img {
  border-radius: 8px;
  width: 100%;
}
.show-case-section-wrapper .prd-show-case-image-wrapper .show-case-two {
  width: 445px;
  height: 280px;
  border-radius: 8px;
}
.show-case-section-wrapper .prd-show-case-image-wrapper .show-case-two img {
  border-radius: 8px;
  width: 100%;
}
.show-case-section-wrapper .prd-show-case-image-wrapper .show-case-three {
  border-radius: 8px;
  height: 592px;
}
.show-case-section-wrapper .prd-show-case-image-wrapper .show-case-three img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

.things-you-may-like-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 52px;
  padding-top: 150px;
  padding-bottom: 80px;
}
.things-you-may-like-wrapper h3 {
  font-size: 2rem;
  letter-spacing: 1.15px;
  line-height: 2.25rem;
  font-weight: bold;
  text-transform: uppercase;
}
.things-you-may-like-wrapper .you-may-also-like-containers {
  display: flex;
  gap: 22px;
  justify-content: center;
  align-items: center;
}
.things-you-may-like-wrapper .you-may-also-like-containers div {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  gap: 32px;
}
.things-you-may-like-wrapper .you-may-also-like-containers div h3 {
  font-size: 1.5rem;
  letter-spacing: 1.7px;
  line-height: 2.06rem;
  font-weight: bold;
  text-transform: uppercase;
}
.things-you-may-like-wrapper .you-may-also-like-containers div .like-img {
  background-color: var(---off-white);
  height: 318px;
}
.things-you-may-like-wrapper .you-may-also-like-containers div .like-img img {
  width: 148px;
  height: 193px;
  border-radius: 8px;
}
.things-you-may-like-wrapper .you-may-also-like-containers div button {
  width: 160px;
  height: 48px;
  font-size: 0.81rem;
  letter-spacing: 1px;
  line-height: 1.56rem;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
  border: none;
  color: var(---pure-white);
  background-color: var(---burnt-orange);
  display: flex;
  align-items: center;
  justify-content: center;
}
.things-you-may-like-wrapper .you-may-also-like-containers div button a {
  text-decoration: none;
  color: var(---pure-white);
}
.things-you-may-like-wrapper .you-may-also-like-containers div button:hover {
  background-color: var(---peach);
}

@media (max-width: 1199px) {
  .product-description-wrapper {
    width: 100vw !important;
  }
  .product-description-wrapper .prd-first-section-wrapper {
    width: 92% !important;
  }
  .product-description-wrapper .prd-first-section-wrapper .prd-image {
    background-color: var(---off-white);
    min-width: 281px !important;
    height: 480px !important;
    display: flex;
    align-items: center;
  }
  .product-description-wrapper .prd-first-section-wrapper .prd-image img {
    width: 100%;
  }
  .product-description-wrapper .prd-description {
    max-width: 338px !important;
    min-width: 260px;
  }
  .product-description-wrapper .prd-description #prd-description {
    display: flex;
    flex-direction: column;
  }
  .product-description-wrapper .prd-description #prd-title {
    font-size: 1.75rem !important;
    letter-spacing: 2px;
    line-height: 2.37rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  .prd-features-wrapper {
    width: 100vw !important;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .prd-features-wrapper .feature-h3 {
    display: block;
    width: 93%;
  }
  .prd-features-wrapper .prd-features-content {
    width: 93% !important;
    flex-direction: column !important;
    gap: 60px !important;
  }
  .prd-features-wrapper .prd-features-content .features-para {
    width: 100% !important;
  }
  .prd-features-wrapper .prd-features-content .prd-in-the-box {
    display: flex;
    gap: 25%;
  }
  .show-case-section-wrapper .prd-show-case-image-wrapper .flex-wrapper {
    gap: 20px;
  }
  .show-case-section-wrapper .prd-show-case-image-wrapper .flex-wrapper .show-case-one {
    width: 277px !important;
    height: 174px;
  }
  .show-case-section-wrapper .prd-show-case-image-wrapper .flex-wrapper .show-case-one img {
    width: 100%;
  }
  .show-case-section-wrapper .prd-show-case-image-wrapper .flex-wrapper .show-case-two {
    width: 277px !important;
    height: 174px;
  }
  .show-case-section-wrapper .prd-show-case-image-wrapper .flex-wrapper .show-case-two img {
    width: 100%;
  }
  .show-case-section-wrapper .prd-show-case-image-wrapper .show-case-three {
    width: 677px !important;
    height: 366px;
  }
  .show-case-section-wrapper .prd-show-case-image-wrapper .show-case-three img {
    width: 100%;
    height: 100%;
  }
  .things-you-may-like-wrapper h3 {
    font-size: 1.75rem;
    letter-spacing: 2px;
    line-height: 2.37rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  .things-you-may-like-wrapper .you-may-also-like-containers {
    display: flex;
  }
  .things-you-may-like-wrapper .you-may-also-like-containers div {
    width: 223px;
  }
}
@media (max-width: 768px) {
  .things-you-may-like-wrapper h3 {
    font-size: 1.75rem;
    letter-spacing: 2px;
    line-height: 2.37rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  .things-you-may-like-wrapper .you-may-also-like-containers {
    display: flex;
  }
  .things-you-may-like-wrapper .you-may-also-like-containers div {
    width: 160px;
  }
  .things-you-may-like-wrapper .you-may-also-like-containers div h3 {
    font-size: 1.12rem;
    letter-spacing: 1.3px;
    line-height: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  .product-description-wrapper {
    width: 100vw !important;
  }
  .product-description-wrapper .prd-first-section-wrapper {
    width: 93% !important;
    gap: 5% !important;
  }
  .product-description-wrapper .prd-first-section-wrapper .prd-image {
    background-color: var(---off-white);
    min-width: 251px !important;
    height: 480px !important;
    display: flex;
    align-items: center;
  }
  .product-description-wrapper .prd-first-section-wrapper .prd-image img {
    width: 100%;
  }
}
@media (max-width: 650px) {
  main {
    padding-top: 60px;
  }
  .prd-first-section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .prd-first-section-wrapper .prd-image {
    display: flex;
    width: 100% !important;
    height: 460px !important;
    width: 433px !important;
    margin-bottom: 30px;
  }
  .prd-first-section-wrapper .prd-description {
    display: flex;
    flex-direction: column;
    max-width: 93% !important;
  }
  .prd-first-section-wrapper .prd-description h2 {
    color: red;
    font-size: 32px !important;
  }
  .prd-features-wrapper {
    max-width: 93%;
  }
  .prd-features-wrapper h3 {
    font-size: 1.12rem !important;
    letter-spacing: 1.3px;
    line-height: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  .prd-features-wrapper .prd-in-the-box {
    gap: 15% !important;
    flex-wrap: wrap;
    align-items: center;
  }
  .show-case-section-wrapper .prd-show-case-image-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 30px;
  }
  .show-case-section-wrapper .prd-show-case-image-wrapper .flex-wrapper {
    width: 100%;
    align-items: center;
    gap: 30px;
  }
  .show-case-section-wrapper .prd-show-case-image-wrapper .flex-wrapper .show-case-one {
    width: 93% !important;
    height: 230px !important;
  }
  .show-case-section-wrapper .prd-show-case-image-wrapper .flex-wrapper .show-case-one img {
    width: 100%;
    height: 100% !important;
  }
  .show-case-section-wrapper .prd-show-case-image-wrapper .flex-wrapper .show-case-two {
    width: 93% !important;
    height: 230px !important;
  }
  .show-case-section-wrapper .prd-show-case-image-wrapper .flex-wrapper .show-case-two img {
    width: 100%;
    height: 100% !important;
  }
  .show-case-section-wrapper .prd-show-case-image-wrapper .show-case-three {
    width: 93% !important;
  }
  .things-you-may-like-wrapper h3 {
    font-size: 1.12rem;
    letter-spacing: 1.3px;
    line-height: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  .things-you-may-like-wrapper .you-may-also-like-containers {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .things-you-may-like-wrapper .you-may-also-like-containers div {
    width: 93%;
  }
  .things-you-may-like-wrapper .you-may-also-like-containers div h3 {
    font-size: 1.12rem;
    letter-spacing: 1.3px;
    line-height: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  .banner-textcontent h2 {
    font-size: 1.8rem !important;
  }
}
@media (max-width: 460px) {
  .prd-first-section-wrapper .prd-image {
    max-width: 100%;
  }
}